<?xml version="1.0" encoding="UTF-8"?>
<ConfigParams>
    <Params>
        <config_name>
            <longName>none</longName>
            <type>3</type>
            <transmittable>0</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;TODO&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine></cDefine>
            <valString>main_config_t</valString>
            <maxLen>0</maxLen>
        </config_name>
        <hw_name>
            <longName>VESC Load</longName>
            <type>0</type>
            <transmittable>0</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-family:'Sans Serif';&quot;&gt;This is the VESC BMS. Some hw-specific info will be added here.&lt;/span&gt;&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine></cDefine>
        </hw_name>
        <controller_id>
            <longName>CAN ID</longName>
            <type>2</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-family:'Sans Serif';&quot;&gt;CAN ID. Used to identify this VESC load on the CAN-bus.&lt;/span&gt;&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_CONTROLLER_ID</cDefine>
            <editorScale>1</editorScale>
            <editAsPercentage>0</editAsPercentage>
            <maxInt>255</maxInt>
            <minInt>-1</minInt>
            <showDisplay>0</showDisplay>
            <stepInt>1</stepInt>
            <valInt>104</valInt>
            <suffix></suffix>
            <vTx>1</vTx>
        </controller_id>
        <send_can_status_rate_hz>
            <longName>CAN Status Rate</longName>
            <type>2</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-family:'Sans Serif';&quot;&gt;Send status messages on the CAN-bus at this rate.&lt;/span&gt;&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_SEND_CAN_STATUS_RATE_HZ</cDefine>
            <editorScale>1</editorScale>
            <editAsPercentage>0</editAsPercentage>
            <maxInt>2000</maxInt>
            <minInt>0</minInt>
            <showDisplay>0</showDisplay>
            <stepInt>1</stepInt>
            <valInt>10</valInt>
            <suffix> Hz</suffix>
            <vTx>5</vTx>
        </send_can_status_rate_hz>
        <can_baud_rate>
            <longName>CAN Baud Rate</longName>
            <type>4</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;&lt;span style=&quot; font-family:'Sans Serif';&quot;&gt;CAN-bus baud rate.&lt;/span&gt;&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_CAN_BAUD_RATE</cDefine>
            <valInt>2</valInt>
            <enumNames>CAN_BAUD_125K</enumNames>
            <enumNames>CAN_BAUD_250K</enumNames>
            <enumNames>CAN_BAUD_500K</enumNames>
            <enumNames>CAN_BAUD_1M</enumNames>
            <enumNames>CAN_BAUD_10K</enumNames>
            <enumNames>CAN_BAUD_20K</enumNames>
            <enumNames>CAN_BAUD_50K</enumNames>
            <enumNames>CAN_BAUD_75K</enumNames>
        </can_baud_rate>
        <temp_lim_start>
            <longName>Temp Limit Start</longName>
            <type>1</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;Temperature at which power limiting begins&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_TEMP_LIM_START</cDefine>
            <editorDecimalsDouble>1</editorDecimalsDouble>
            <editorScale>1</editorScale>
            <editAsPercentage>0</editAsPercentage>
            <maxDouble>90</maxDouble>
            <minDouble>-20</minDouble>
            <showDisplay>0</showDisplay>
            <stepDouble>1</stepDouble>
            <valDouble>60</valDouble>
            <vTxDoubleScale>1</vTxDoubleScale>
            <suffix> °C</suffix>
            <vTx>9</vTx>
        </temp_lim_start>
        <temp_lim_end>
            <longName>Temp Limit End</longName>
            <type>1</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;Temperature at which power is completely disabled&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_TEMP_LIM_END</cDefine>
            <editorDecimalsDouble>1</editorDecimalsDouble>
            <editorScale>1</editorScale>
            <editAsPercentage>0</editAsPercentage>
            <maxDouble>90</maxDouble>
            <minDouble>-20</minDouble>
            <showDisplay>0</showDisplay>
            <stepDouble>1</stepDouble>
            <valDouble>70</valDouble>
            <vTxDoubleScale>1</vTxDoubleScale>
            <suffix> °C</suffix>
            <vTx>9</vTx>
        </temp_lim_end>
        <volt_lower_lim_start>
            <longName>Voltage Limit Start</longName>
            <type>1</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;Voltage at which power limiting begins&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_VOLT_LOWER_LIM_START</cDefine>
            <editorDecimalsDouble>1</editorDecimalsDouble>
            <editorScale>1</editorScale>
            <editAsPercentage>0</editAsPercentage>
            <maxDouble>90</maxDouble>
            <minDouble>14</minDouble>
            <showDisplay>0</showDisplay>
            <stepDouble>1</stepDouble>
            <valDouble>20</valDouble>
            <vTxDoubleScale>1</vTxDoubleScale>
            <suffix> V</suffix>
            <vTx>9</vTx>
        </volt_lower_lim_start>
        <volt_lower_lim_end>
            <longName>Voltage Limit End</longName>
            <type>1</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;Voltage at which power is completely disabled&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_VOLT_LOWER_LIM_END</cDefine>
            <editorDecimalsDouble>1</editorDecimalsDouble>
            <editorScale>1</editorScale>
            <editAsPercentage>0</editAsPercentage>
            <maxDouble>90</maxDouble>
            <minDouble>14</minDouble>
            <showDisplay>0</showDisplay>
            <stepDouble>1</stepDouble>
            <valDouble>15</valDouble>
            <vTxDoubleScale>1</vTxDoubleScale>
            <suffix> V</suffix>
            <vTx>9</vTx>
        </volt_lower_lim_end>
        <load_volt_start>
            <longName>Voltage Load Start</longName>
            <type>1</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;Voltage at which load starts getting applied&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_LOAD_VOLT_START</cDefine>
            <editorDecimalsDouble>1</editorDecimalsDouble>
            <editorScale>1</editorScale>
            <editAsPercentage>0</editAsPercentage>
            <maxDouble>90</maxDouble>
            <minDouble>14</minDouble>
            <showDisplay>0</showDisplay>
            <stepDouble>1</stepDouble>
            <valDouble>40</valDouble>
            <vTxDoubleScale>1</vTxDoubleScale>
            <suffix> V</suffix>
            <vTx>9</vTx>
        </load_volt_start>
        <load_volt_max>
            <longName>Voltage Load Max</longName>
            <type>1</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;Voltage at which maximum load is applied&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_LOAD_VOLT_MAX</cDefine>
            <editorDecimalsDouble>1</editorDecimalsDouble>
            <editorScale>1</editorScale>
            <editAsPercentage>0</editAsPercentage>
            <maxDouble>90</maxDouble>
            <minDouble>14</minDouble>
            <showDisplay>0</showDisplay>
            <stepDouble>1</stepDouble>
            <valDouble>50</valDouble>
            <vTxDoubleScale>1</vTxDoubleScale>
            <suffix> V</suffix>
            <vTx>9</vTx>
        </load_volt_max>
        <load_volt_max_fraction>
            <longName>Voltage Load Max Fraction</longName>
            <type>1</type>
            <transmittable>1</transmittable>
            <description>&lt;!DOCTYPE HTML PUBLIC &quot;-//W3C//DTD HTML 4.0//EN&quot; &quot;http://www.w3.org/TR/REC-html40/strict.dtd&quot;&gt;
&lt;html&gt;&lt;head&gt;&lt;meta name=&quot;qrichtext&quot; content=&quot;1&quot; /&gt;&lt;style type=&quot;text/css&quot;&gt;
p, li { white-space: pre-wrap; }
&lt;/style&gt;&lt;/head&gt;&lt;body style=&quot; font-family:'Roboto'; ; font-weight:400; font-style:normal;&quot;&gt;
&lt;p style=&quot; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;&quot;&gt;Load at maximum voltage&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</description>
            <cDefine>CONF_LOAD_VOLT_MAX_FRACTION</cDefine>
            <editorDecimalsDouble>2</editorDecimalsDouble>
            <editorScale>1</editorScale>
            <editAsPercentage>1</editAsPercentage>
            <maxDouble>1</maxDouble>
            <minDouble>0</minDouble>
            <showDisplay>1</showDisplay>
            <stepDouble>0.02</stepDouble>
            <valDouble>0</valDouble>
            <vTxDoubleScale>1</vTxDoubleScale>
            <suffix> %</suffix>
            <vTx>9</vTx>
        </load_volt_max_fraction>
    </Params>
    <SerOrder>
        <ser>controller_id</ser>
        <ser>send_can_status_rate_hz</ser>
        <ser>can_baud_rate</ser>
        <ser>temp_lim_start</ser>
        <ser>temp_lim_end</ser>
        <ser>volt_lower_lim_start</ser>
        <ser>volt_lower_lim_end</ser>
        <ser>load_volt_start</ser>
        <ser>load_volt_max</ser>
        <ser>load_volt_max_fraction</ser>
    </SerOrder>
    <Grouping>
        <group>
            <groupName>General</groupName>
            <subgroup>
                <subgroupName>Limits</subgroupName>
                <subgroupParams>
                    <param>temp_lim_start</param>
                    <param>temp_lim_end</param>
                    <param>volt_lower_lim_start</param>
                    <param>volt_lower_lim_end</param>
                </subgroupParams>
            </subgroup>
            <subgroup>
                <subgroupName>CAN</subgroupName>
                <subgroupParams>
                    <param>controller_id</param>
                    <param>send_can_status_rate_hz</param>
                    <param>can_baud_rate</param>
                </subgroupParams>
            </subgroup>
            <subgroup>
                <subgroupName>Load</subgroupName>
                <subgroupParams>
                    <param>load_volt_start</param>
                    <param>load_volt_max</param>
                    <param>load_volt_max_fraction</param>
                </subgroupParams>
            </subgroup>
        </group>
    </Grouping>
</ConfigParams>
